body {
    margin: 0;
    padding: 0;
    background-image: url(recursos/parallax1.jpg);
    height: 100vh;
  }
  
  .container {
    background-color: white;
    top: 25%;
    width: 400px; 
    height: 420px !important;
    border: 1px solid red;
    border-radius: 5%;
    position: center;
  }
  
  .casillas{
    width: 380px;
    margin-top: 2%;
    margin-bottom: 2%;
    left: 9px;
  }
  
  #logo {
    margin: auto;
  }
  
  .button{
    position: absolute;
    margin-top: 15px;
    margin-left: 35%;
    display: flex;
  }
  
  #btn-crear_cuenta {
    position: absolute;
    margin: 10px;
    left: 10px;
    bottom: 0;
  }

  #sin-cuenta{
    position: absolute;
    margin-top: 25px;
    left: 10px;
  }